name: Anchore-Grype Security Scans

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  schedule:
    # Run this against the default branch every Monday at 5:30AM
    - cron: "30 5 * * 2"

permissions: write-all
jobs:
  scan:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: ortussolutions/boxlang
    strategy:
      matrix:
        include:
          - BUILD_IMAGE_DOCKERFILE: builds/base/JRE21.Dockerfile
            BUILD_IMAGE_TAG: cli
          - BUILD_IMAGE_DOCKERFILE: builds/base/JRE21.Web.Dockerfile
            BUILD_IMAGE_TAG: miniserver

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Read version from version.json
        id: version
        run: |
          BOXLANG_VERSION=$(jq -r '.BOXLANG_VERSION' version.json)
          IMAGE_VERSION=$(jq -r '.IMAGE_VERSION' version.json)
          echo "BOXLANG_VERSION=$BOXLANG_VERSION" >> $GITHUB_OUTPUT
          echo "IMAGE_VERSION=$IMAGE_VERSION" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Build local container
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILDKIT: 1
        with:
          context: .
          file: ${{ matrix.BUILD_IMAGE_DOCKERFILE }}
          build-args: |
            BUILDKIT_INLINE_CACHE=1
            BOXLANG_VERSION=${{ steps.version.outputs.BOXLANG_VERSION }}
            IMAGE_VERSION=${{ steps.version.outputs.IMAGE_VERSION }}
          push: false
          load: true
          tags: ${{ env.DOCKER_IMAGE }}:${{ matrix.BUILD_IMAGE_TAG }}

      - name: Scan image
        uses: anchore/scan-action@v7
        id: imagescan
        with:
          image: ${{ env.DOCKER_IMAGE }}:${{ matrix.BUILD_IMAGE_TAG }}
          severity-cutoff: "high"
          fail-build: false
          by-cve: true
          only-fixed: true

      - name: Upload Anchore Scan report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.imagescan.outputs.sarif }}
          category: ${{ matrix.BUILD_IMAGE_TAG }}
